/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    margin: 0;
}

.container {
    width: 500px;
    margin: 10vh auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
    flex-wrap: wrap;
    text-align: center;

    -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-20deg);
}

h1, h2, h3 {
    color: #FFF;
    font-size: 100px;
    text-align: center;
    letter-spacing: 0.2em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

h1 {
    font-size: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

h2 {
    margin-top: 3vw;
    font-size: 2vw;
    margin-bottom: 5vw;
}

h3 {
    font-size: 1.4vw;    
    margin-bottom: 1vw;
}

.square {
    width: 100px;
    height: 100px;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.darkyellow {
    background-color: #ffbe00;
}

.yellowgreen {
    background-color: yellowgreen;
}

.lightgreen {
    background-color: lightgreen;
}

.lightblue {
    background-color: #07b0f3;
}


.darkgreen {
    background-color: darkgreen;
}

.yellow2 {
    background-color: #fecb0e;
}

.aquablue {
    background-color: #156c87;
}

.orange {
    background-color: #f7902b;
}

.blue00 {
    background-color: #233d7a;
}

.blue01 {
    background-color: #174894;
}

.blue02 {
    background-color: #16629e;
}

.blue03 {
    background-color: #1a66b1;
}

.blue04 {
    background-color: #1996d0;
}

.blue05 {
    background-color: #1395c9;
}

.blue06 {
    background-color: #2ac2f3;
}

.purple00 {
    background-color: #b61d85;
}

.purple01 {
    background-color: #9d257e;
}
.purple02 {
    background-color: #592d8e;
}

.pink {
    background-color: #ff3098;
}

.purple03 {
    background-color: #7030a0;
}

.green02 {
    background-color: #00af50;
}

.lightBrown {
    background-color: #fac090;
}

.red {
    background-color: red;
}

.top-right-triangle {
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    
    border-left: 50px solid darkgreen;
}


@media only screen and (max-width:767px) {
    .container {
        width: 350px;
    }

    .square {
        width: 70px;
        height: 70px;
    }

    h1 {
        font-size: 2.3vw;
    }
}

/************************************************************/
/* Versión Negra */
.blackBG {
    background-color: #000;
}

.blackBG .container {
    width: 300px;
    -ms-transform: rotate(0); /* IE 9 */
    transform: rotate(0);
}
/* Versión Blanca */

@media only screen and (max-width:767px) {
    .blackBG .container {
        width: 210px;
    }

    .blackBG h1 {
        font-size: 6vw;
        margin-top: 10vw;
    }

    .blackBG h2 {
        font-size: 4vw;
    }

    .blackBG h3 {
        font-size: 3vw;
    }
}